## Part 1: Exploratory Data Analysis

In [5]:
import pandas as pd
data = pd.read_csv('project1.data')
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

#### Identify shape and size of the raw data:

In [6]:
# Identify shape of raw data
data.shape

(398, 9)

In [7]:
# Identify size of raw data
data.size

3582

#### Get information about the types of data. Does it need any datatype conversion? If needed perform the conversion.

In [8]:
# Get information about the types of data. Does it need any datatype conversion? If needed perform the conversion.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [9]:
import numpy as np
# Replace non-numeric values with NaN
data['horsepower'] = data['horsepower'].replace('?', np.nan)

# Convert horsepower column type to float
data['horsepower'] = data['horsepower'].astype(float)

# Check updated Dtype
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 28.1+ KB

**<i>In the code block above, when I first tried converting 'horsepower' column to type float, I got an error, saying couldn't convert '?' to float. I didn't know the function to replace '?' with NaN, so I referred to chatGPT to help me figure it out.</i>**

#### Derive statistical information from the data: can you predict any outliers using this information?

In [10]:
# Derive statistical information from data using describe() function
data.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

**<i>Not sure if we can accurately identify whether there are possible outlier(s) by merely looking at the statistics.</i>**

#### Perform one-hot encoding of categorical data if needed

In [15]:
data['car_name'] = data['car_name'].astype("category")
data = pd.get_dummies(data, columns=['car_name'], drop_first=True)

KeyError: 'car_name'

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Columns: 312 entries, mpg to car_name_vw rabbit custom
dtypes: bool(304), float64(4), int64(4)
memory usage: 143.2 KB